<!DOCTYPE html>
<html>

  <head>
    <title>Test <%=vendor%></title>
    <style type="text/css">
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map {
        width: 1024px;
        height: 768px;
      }
    </style>
    <!-- Fuck IE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js"></script>
    <script src="https://unpkg.com/whatwg-fetch"></script>
    <!-- End of IE -->
    <script type="text/javascript" src="./jquery-3.1.1.min.js"></script>
    <script src="./common.js" type="text/javascript"></script>
    <% if (vendor == 'googlemap') { %>
      <script type="text/javascript" src="./gFunc.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhMRNpnl5rVcMo3v2wa38qejBcky9JHVg&libraries=visualization"></script>
    <% } else if (vendor == 'vworld') { %>
      <script type="text/javascript">
        window.alert = function(){};
      </script>
      <script type="text/javascript" src="./vFunc.js"></script>
      <script type="text/javascript" src="//map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=DB08BC31-45E6-3A36-8207-D9A9CEA54F32"></script>
    <% } else if (vendor == 'daummap') { %>
      <script type="text/javascript" src="./dFunc.js"></script>
      <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=b68a529b1305cc2764ee67f11075e132"></script>
    <% } else if (vendor == 'navermap') { %>
      <script type="text/javascript" src="./nFunc.js"></script>
      <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=o45lfUmlyS8xTAjINxs7&submodules=visualization"></script>
    <% } else if (vendor == 'osm') { %>
      <script type="text/javascript" src="./oFunc.js"></script>
      <script type="text/javascript" src="https://unpkg.com/openlayers@3"></script>
    <% } else if (vendor == 'olleh') { %>
      <script src="./ollehFunc.js"></script>
      <script src="http://api.ktgis.com:10080/v3/olleh/mapAPI.js?key=ODEwMEQ3ODk6VDc3RkM5N0I2OEM2RDA="></script>
    <% } %>
  </head>

  <body>
    <div id="map"></div>

    <input type="number" id="count-input" value="10000" />
    <button id="count-button">Submit</button>

    <div id="check_date"></div>
    <div id="buttons"></div>
  </body>

</html>
